/* Hide icon by default */
.tabs-item img {
    opacity: 0;
    transform: translateX(-5px);
    transition: all 0.3s ease;
}

/* Show icon only when active */
.tabs-item.active img {
    opacity: 1;
    transform: translateX(0);
}

/* Progress bar default */
.tabs-item .tabs-progress {
    opacity: 1;
    width: 100%;
    height: 3px;
    background-color: rgba(44, 54, 58, 0.2);
    transition: all 0.3s ease;
}

/* Progress bar active */
.tabs-item.active .tabs-progress {
    background-color: #0FA1DB;
    opacity: 1;
}