/* 
.tabs-item.active .tabs-progress {
    opacity: 1;
}

.tabs-progress {
    opacity: 0;
    transition: opacity 0.3s;
}

.tabs-item.active .tabs-progress {
    opacity: 1;
}

.tabs-progress {
    opacity: 0.4;
    width: 0%;
    height: 3px;
    background: #0fa1db;
}


.tabs-item img {
    opacity: 0;
    transform: translateX(-5px);
    transition: all 0.3s ease;
}

.tabs-item.active img {
    opacity: 1;
    transform: translateX(0);
} */


/* Hide icon by default */
.tabs-item img {
    opacity: 0;
    transform: translateX(-5px);
    transition: all 0.3s ease;
}

/* Show icon only when active */
.tabs-item.active img {
    opacity: 1;
    transform: translateX(0);
}

/* Progress bar – default state (NON ACTIVE) */
.tabs-item .tabs-progress {
    opacity: 1;               /* Always visible */
    width: 100%;              /* Full width */
    height: 3px;
    background-color: rgba(44, 54, 58, 0.2); /* Light color */
    transition: all 0.3s ease;
}

/* Progress bar – active state */
.tabs-item.active .tabs-progress {
    background-color: #0FA1DB; /* Full color */
    opacity: 1;
}
