---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Carousel from '../components/Carousel.astro';
---

<Layout>
    <div class="">
        <Navbar />
        <Carousel />
    </div>
</Layout>